* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background-color: black;
}

.text-mid {
    color: white;
    font-size: 32px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.forecast-card {
    background-color: gray;
    border-radius: 10px;
    align-items: center;
}